<div id="navbar"></div>
<h1>Liste des Desserts</h1>

<div class="plat" ng-repeat="dessert in listeDesserts track by dessert.nom" style="background-image: url({{dessert.url}})">
  <a class="infobulle" style="color:#9af47c;" href=""> Ingrédients
    <span>
      <p ng-repeat="ingredient in entree.listIngPlat">
        {{ingredient.ingplatIng.nom}} bite
      </p>
    </span>
  </a>
  <p class="plat">{{dessert.nom}}</p>
  <p class="prix">{{calculPrixPlat(dessert)}} €</p> 
  <input type="number" class="qte" id="qte" name="quantity" value="1" min="1" max="99">
  <button id="addButton" class="btn btn-primary" ng-show="connected !== null" ng-click="ajouterAuPanier(dessert.id)">Ajouter au panier</button>
</div>
