<div id="navbar"></div>
<h1>Liste des Entrées</h1>
<div class="plat" ng-repeat="entree in listeEntrees track by entree.nom" style="background-image: url(pics/{{entree.url}})">
 
  <a class="infobulle" style="color:#9af47c;" href=""> Ingrédients
    <span>
      <p style="text-decoration: underline #9af47c;">Liste des Ingrédients :</p>
      <p ng-repeat="ingredient in entree.listIngPlat">
        {{ingredient.portion}}g de {{ingredient.ingplatIng.nom}} : {{ingredient.montant}}€
      </p>
    </span>
  </a>
   <p class="plat">{{entree.nom}}</p>
  <p class="prix">{{calculPrixPlat(entree)}} €</p>
  <input ng-show="connected !== null" type="number" class="qte" id="qte" name="quantity" value="1" min="1" max="99">
  <button ng-show="connected !== null" id="addButton" class="btn btn-primary" ng-click="ajouterAuPanier(entree.id)">Ajouter au panier</button>
  
</div>