md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0;
}
body{
  margin:0;
  padding:0;
  background: url(pics/boPtitDej.jpg) no-repeat center fixed;
  -moz-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
#slides_control > div {
  height: 200px;
}

a{ 
  color:#9af47c; 
} 
a:hover,a:focus{
  color:#9af47c;
}

/* Position et couleur bulle */
a span{ 
  position:absolute;
  margin-top:25px; 
  margin-left:-25px;
  color:#fff; 
  background:rgba(0, 0, 0, 0.5); 
  padding:25px; 
  border-radius:3px; 

  /* Faire disparaire infobulle par défaut */
  /* On determine l'origine de la rotation */ 
  transform:scale(0) rotate(-180deg);
  /* Faire durer l'effet */
  transition:all .25s;
  /* Effet sur la transparence */ 
  opacity:0;
}

/* Apparition de la bulle avec le scale à 1 */ 
a:hover span, a:focus span{ 
  transform:scale(1) rotate(0);
  /* Effet sur la transparence */ 
  opacity:1;
}

 a.infobulle{
  
  color: #9af47c;
  text-shadow: 2px 2px 5px #222222;
  font-family: 'Aclonica';
  font-size: 15px;
  font-style: italic;
  text-align: right;
  margin-right: 5%;
  margin-top: 10%;
  z-index: 2;
  float: right;
  clear: both;
 }

 a.infobullePanier{
  
  color: #9af47c;
  text-shadow: 2px 2px 5px #222222;
  font-family: 'Aclonica';
  font-size: 15px;
  font-style: italic;
  text-align: right;
  z-index: 2;
 }

img {
  margin: auto;
  width: 400px;
}

img.plat {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
div.buttonsLog{
  position: absolute;
  top:20px;
  left:20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}
div.container{
  position: absolute;
  top: 20%;
  left: 15%;
  width: 500px;
  height: 500px;
}

div.descrip{
  position: absolute;
  text-align: left;
  font-size: 20px;
  top: 60%;
  left: 5%;
  width: 800px;
  height: 500px;
}

div.panier {
  margin: auto;
  margin-top: 20px;
  height: 100px;
  width: 50%;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #222222;
  background-color: rgba(255, 255, 255, 0.8);
}

span.panier {
  position: relative;
  text-align: left;
  margin-top: 10px;
  font-family: 'Alex Brush';
  font-size: 30px;
  z-index: 2;
}

p.panier {
  position: relative;
  text-align: left;
  z-index: 2;
}

input.panier {
  float: right;
  vertical-align: middle;
  display: block;
  margin-right: 20px;
  margin-top: 22px;
  color: #9af47c;
  text-shadow: 2px 2px 5px #222222;
  font-family: 'Aclonica';
  font-size: 20px;
  font-style: italic;
  text-align: center;

  width: 100px;
  height: 30px;
  z-index: 2;
}

#addButtonPanier {
  float: right;
  vertical-align: middle;
  display: block;
  margin-right: 30px;
  margin-top: 20px;
  z-index: 2;
  background-color: #31b93f;
  box-shadow: 2px 2px 5px #222222;
}

div.plat {
  margin: auto;
  margin-top: 20px;
  height: 350px;
  width: 800px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #222222;
  background-size: 75% 100%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
}

p.plat {
  font-family: 'Alex Brush';
  font-size: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  align: center;
  vertical-align: top;
  z-index: 2;
}

p.prix {
  color: #9af47c;
  text-shadow: 2px 2px 5px #222222;
  font-family: 'Aclonica';
  font-size: 35px;
  font-style: italic;
  text-align: right;
  margin-right: 5%;
  margin-top: 10%;
  z-index: 2;
}
h1.titreResto{
  font-family: 'Alex Brush';
  font-size: 100px;
  float: left;
  margin-left: 20%;
}
 
input.qte {
  color: #9af47c;
  opacity: 0.75;
  text-shadow: 2px 2px 5px #222222;
  font-family: 'Aclonica';
  font-size: 35px;
  font-style: italic;
  text-align: center;
  width: 150px;
  margin-right: 5%;
  margin-top: 5%;
  z-index: 2;
  float: right;
  clear: both;
}

#addButton {
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  z-index: 2;
  background-color: #31b93f;
  box-shadow: 2px 2px 5px #222222;
  clear: both;
}

#validButton {
  float: center;
  margin-top: 10px;
  z-index: 2;
  background-color: #31b93f;
  box-shadow: 2px 2px 5px #222222;
  clear: both;
}
